{# templates/library.html #}
{% extends "nav_base.html" %}

{% block content %}
{{ super() }}
<h1> Library </h1>

<h2> Textbooks </h2>

{# batch(n) es un filtro que agrupa elementos. 
  Funciona más o menos como cortar al revés. 
  Devuelve una lista de listas con el número dado de elementos -> n.
  Si proporciona un segundo parámetro, 
  este se utiliza para completar los elementos que faltan. #}
{% for triplet in textbooks | batch(3, '-') %}
  {{ triplet|join(', ') }} <br/>
{% endfor %}

<h3>Prueba de lo anterior con una tabla</h3>
<table>
  {% for row in textbooks|batch(3, '---') %}
  <tr>
    {% for column in row %}
      <td>{{ column }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<h2> Magic Books </h2>
{# acá se asigna a la variable first_book el primer elemento
  de la lista magicbooks y luego se lo  #}
{% set first_book = magicbooks | first | upper %}

<ul>
  <li> {{ first_book }} </li>
  <li> {{ magicbooks.1 | capitalize }} </li>
  <li> {{ magicbooks | last | lower }} </li>
  <li> There were {{ magicbooks | length }} magic books </li>
  <li> Do you believe in magic? {{ magicbooks | reverse | join(', ') }} </li>
  <li> Orderly books: {{ magicbooks | sort(reverse=True) }} </li>
  <li> Shorter: {{ magicbooks.0 | truncate(6) }} </li>
  <li> Counting words: {{ magicbooks | join(' ') | wordcount }} </li>
</ul>

<h2> Other Books </h2>

{{ other_books | default('No other books') }}

<h3> Statements </h3>

<ul>
  <li> {{ statement }} </li>
  <li> {{ statement | safe }} </li>
  <li> {{ statement | urlencode }} </li>
</ul>

{{ other_title | safe }}

{% endblock content %}
